@import '../../assets/scss/color';

.uploadfilecontainer {
  background-image: url("../../assets/upload.png");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  border: 2px dashed $fileUploadBorderColor;
  border-radius: 10px;
  height: 180px;

  .upload-desc {
    text-align: center; 
    padding-top: 20px
  }
}

a:not([href]):not([tabindex]),.error-navigate {
  color: $btnColor;
  cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
  text-decoration: underline;
}

.uploadfilecontainer:hover {
  background-color: $fileUploadHoverBgColor;
  cursor: pointer;
  opacity: 0.8;
}

.upload-head {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: center;
}

.files-list {
  background: $whiteColor;
  border: 1px dashed;
  border-radius: 12px;
  color: $fileListColor;
  margin: 10px auto;
  padding: 5px;
}

.upload-btn-container {
  margin: 10px auto;
  padding: 5px;

  .btn-primary {
    background-color: $btnColor;
  }

  .btn-primary:active {
    position: relative;
    top: 2px;
    left: 2px;
  }

  .btn-primary:focus {
    outline: none ;
    box-shadow: none ;
  }
}

.select-file-help {
  font-size: 14px;
  text-align: center;
}

.filter-form {
  .side-bar-container {
      top: 135px;
  }
  
  .btn-primary {
      background-color: $btnColor;
      font-size: 14px;
      width: 100%;
  }

  .btn-primary:active {
    position: relative;
    top: 2px;
    left: 2px;
  }

  select::-ms-expand {
      display: none;
  }

  .form-control {
      font-size: 14px;
      height: 30px;
  }
}

.btn-container {
  margin-bottom: 15px;
  padding-top: 20px; 
  text-align: right;

  .back-btn {
    background-color: $btnColor;
    font-size: 14px;
  }

  .back-btn:active {
    position: relative;
    top: 2px;
    left: 2px;
  }
}

.table-striped {

  tbody,thead {
    font-size: 14px;
  }
  .select-item.checkbox {
      font-size: 18px;
  }

  .view-doc {

    .action {
        color: $btnColor;
    }

    .action:hover {
        cursor: pointer;
        text-decoration: underline;
    }
  }
}

.btn-container {
  margin-bottom: 20px;
  padding-top: 20px;

  .back-btn,.delete-btn,.send-btn {
    background-color: $btnColor;
    font-size: 14px;
    outline: none;
    border: none;
  }

  .back-btn:active,.delete-btn:active,.send-btn:active {
    position: relative;
    top: 2px;
    left: 2px;
  }

  .back-btn:focus,.delete-btn:focus,.send-btn:focus {
    outline: none ;
    box-shadow: none ;
  }

  .head-content {
      font-size: 25px;
      font-weight: 500;
      text-align: center;
  }
  
  .send-btn-container {
      text-align: right;
  
      .delete-btn,.send-btn {
          margin-right: 10px;
      }
  }
}

@media (max-width: 768px) {
  .uploadfilecontainer {
    .upload-desc {
      font-size: 14px;
    }
  }

  .upload-btn-container {
  
    .btn-primary {
      font-size: 10px;
    }
  }

  .files-list {
    font-size: 12px;
  }

  .btn-container {
     
    .back-btn {
      display: none;
    }

    .head-content {
      font-size: 25px;
      margin-bottom: 20px;
    }

    .send-btn-container {
      text-align: left;
  
      .delete-btn,.send-btn {
          font-size: 10px;
      }
    }
  }

  .table-striped tbody,thead {
    font-size: 10px;
  
    .select-item.checkbox {
        font-size: 14px;
    }
  }
}