<div *ngIf="!fetchDone && !valData && processing" >
  <div class="row data-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</div>
<ng-container *ngIf="!valData && !fetchDone && !processing">
    <div class="row btn-container">
        <div class="offset-9 col-3">
            <button class="btn btn-primary back-btn" (click)="previousPage()">Back</button>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-3 filter-form">
        <div class="side-bar-container">
          <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"> 
            <div class="form-group">
              <select class="form-control" formControlName="emp">
                <option value="" disabled>Select Employee</option>
                <option *ngFor="let emp of users" [ngValue]="emp" >
                  {{emp.fullName}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="yearVal"> 
                <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="monthVal">
                <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary"  [disabled]="!employeeForm.valid">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-9">
          <div class="upload-head">Salary Slip Upload</div>
          <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
              <input hidden type="file" accept=".csv" #fileInput (change)="uploadFile($event.target.files)">
              <div class="upload-desc"><span>Click on the box to upload file OR drop a file here</span></div>
          </div>
          <div *ngIf="!file && !errorMsg" class="select-file-help">select a file with .csv extension</div>
          <div *ngIf="errorMsg" class="select-file-error">{{errorMsg}}</div>
          <ng-container *ngIf="file && !errorMsg">
              <div class="files-list">
                <p>{{ file.name }}</p>
              </div>
              <div class="upload-btn-container">
                  <button class="btn btn-primary" (click)="uploadFileData()">Upload</button>
              </div>
          </ng-container>
      </div>
    </div>
</ng-container>
<ng-container *ngIf="valData && errorMsg">
  <div class="select-file-error">{{errorMsg}}</div>
  <div class="navigate-desc">To navigate to home page <a routerLink="/home">Click here</a></div>
</ng-container>
<div class="row btn-container" *ngIf="valData && !errorMsg && fetchDone">
  <div class="col-6 offset-3 head-content">Salary Slip of Employees</div>
  <div class="col-3 send-btn-container">
    <button class="btn btn-primary delete-btn" [disabled]="!checkedList.length" (click)="deleteItem()">Delete</button>
    <button class="btn btn-primary send-btn" [disabled]="!checkedList.length" (click)="sendMail()">Send Mail</button>
    <button class="btn btn-primary back-btn" (click)="previousPage()">Back</button>
  </div>
</div>
<div class="row" *ngIf="valData && !errorMsg">
  <div class="col-sm-12">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>
                <input type="checkbox" class="select-item checkbox"
                [(ngModel)]="allSelected" name="list_name" 
                value="list" (change)="checkUncheckAll()"/>
            </th>
            <th *ngFor="let items of salaryItemsInfo">{{items}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of list">
              <td>
                  <input type="checkbox" class="select-item checkbox" [(ngModel)]="emp.isSelected"
                   name="select-item" value="{{emp}}" (change)="isAllSelected()" />
              </td>
            <td>{{emp.employeeFullName}}</td> 
            <td>{{emp.grossSalary}}</td>          
            <td>{{emp.totalDeductions}}</td>
            <td>{{emp.netSalaryPayable}}</td>
            <td><a class="view-doc" [routerLink]="" (click)="viewSalarySlip(emp)">View</a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>


