@import '../../assets/scss/color';

.upload-head {
  font-size: 25px;
  font-weight: $lightBold;
  padding-bottom: 20px;
  text-align: center;
}

.upload-file-container {
  background-image: url("../../assets/upload.png");
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  border: 2px dashed $fileUploadBorderColor;
  border-radius: 10px;
  height: 180px;

  .upload-desc {
    text-align: center; 
    padding-top: 20px;
    @media (max-width: $smWidth) {
      font-size: 14px;
    }
  }
}

.file-name {
  background: $whiteColor;
  border: 1px dashed;
  border-radius: 12px;
  color: $fileListColor;
  margin: 10px auto;
  padding: 5px;
}

.upload-btn-container {
  margin: 10px auto;
  padding: 5px;

  .btn-primary {
    background-color: $btnColor;
    @media (max-width: $smWidth) {
      font-size: 10px;
    }

    &:hover {
      background-color: $btnColor;
    }
  
    &:focus {
      outline: none ;
      box-shadow: none ;
    }
  }
}

.select-file-help {
  font-size: 14px;
  text-align: center;
}

.head-container {
  padding: 20px 0;
  
  .send-btn-container,
  .back-btn-container {
    text-align: right;
    @media (max-width: $smWidth) {
      text-align: left;
    }
  }
}

.error-head {
  font-size: 16px;

  .invalid-email-text {
    font-size: 14px;
    margin: 15px 15px 15px 0;
  }
}