<div *ngIf="!fetchDone && !upload" >
  <div class="row data-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</div>
<ng-container *ngIf="fetchDone && !processing">
  <div class="row head-container">
      <div class="offset-9 col-3 back-btn-container">
          <button class="btn btn-primary back-btn" (click)="previousPage()">Back</button>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-3 filter-form">
      <div class="side-bar-container">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"> 
          <div class="form-group">
            <select class="form-control" formControlName="emp">
              <option value="" disabled>Select Employee</option>
              <option *ngFor="let emp of users" [ngValue]="emp" >
                {{emp.fullName}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" formControlName="yearVal"> 
              <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" formControlName="monthVal">
              <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary"  [disabled]="!employeeForm.valid">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
        <div class="upload-head">Salary Slip Upload</div>
        <div class="upload-file-container" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
            <input hidden type="file" accept=".csv" #fileInput (change)="uploadFile($event.target.files)">
            <div class="upload-desc"><span>Click on the box to upload file OR drop a file here</span></div>
        </div>
        <div *ngIf="!file && !fileErrorMsg" class="select-file-help">select a file with .csv extension</div>
        <div *ngIf="fileErrorMsg" class="select-file-error">{{fileErrorMsg}}</div>
        <ng-container *ngIf="file && !fileErrorMsg">
            <div class="file-name">
              <p>{{ file.name }}</p>
            </div>
            <div class="upload-btn-container">
                <button class="btn btn-primary" (click)="uploadFileData()">Upload</button>
            </div>
        </ng-container>
    </div>
  </div>
</ng-container>
<app-data-not-found *ngIf="errorMsg">
  <p>
    {{errorMsg}}
  </p>
  <p>
    <span class="error-navigate" (click)="reloadPage()">click here</span> to try again! OR
  </p>
  <p>
    <span class="error-navigate" routerLink="/home">click here</span> to navigate to Home page!
  </p>
</app-data-not-found>
<div class="row head-container" *ngIf="fetchDone && processing && !errorMsg">
  <div class="col-sm-4 offset-sm-4 page-head">Salary Slip of Employees</div>
  <div class="col-sm-4 send-btn-container">
    <button class="btn btn-primary delete-btn" [disabled]="!checkedList.length" (click)="deleteItem()">Delete</button>
    <button class="btn btn-primary send-btn" [disabled]="!checkedList.length" (click)="sendMail()">Send Mail</button>
    <button class="btn btn-primary back-btn" (click)="previousPage()">Back</button>
  </div>
</div>
<div class="row" *ngIf="fetchDone && processing && !errorMsg && invalidMail">
  <div class="offset-2 col-8 error-head alert alert-danger">
    <span>Oops! We could not find following Email ID.</span>
  <div>
    <ng-container>
      <span class="invalid-email-text">{{invalidMail}}</span>
    </ng-container>
  </div>
  </div>
</div>
<div class="row" *ngIf="fetchDone && processing && !errorMsg">
  <div class="col-12 table-responsive">
    <table class="table table-striped emp-list-table">
      <thead>
        <tr>
          <th class="checkbox-container">
              <input type="checkbox" class="select-item checkbox"
              [(ngModel)]="allSelected" name="list_name" 
              value="list" (change)="checkUncheckAll()"/>
          </th>
          <th *ngFor="let items of salaryItemsInfo" [class.action-head]="items=='Action'">{{items}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of list">
            <td class="checkbox-container">
                <input type="checkbox" class="select-item checkbox" [(ngModel)]="emp.isSelected"
                  name="select-item" value="{{emp}}" (change)="isAllSelected()" />
            </td>
          <td>{{emp.employeeFullName}}</td> 
          <td>{{emp.grossSalary | inrCurrency: true }}</td>          
          <td>{{emp.totalDeductions | inrCurrency: true }}</td>
          <td>{{emp.netSalaryPayable | inrCurrency: true }}</td>
          <td class="view-doc">
            <a class="action" (click)="viewSalarySlip(emp)"><i class="fa fa-eye"></i></a>
            <span>/</span>
            <a class="action" (click)="DeleteRecord(emp)"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalResponse}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Email will be sent to {{modalContent}}, shortly!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn print-btn" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


