@import '../../assets/scss/color';

.head-container {
    padding: 15px 0;

    .back-btn-container {
        text-align: right;
        @media (max-width: $smWidth) {
            display: none;
        }
    }
}