<div *ngIf="!fetchDone">
  <div class="row data-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</div>
<ng-container *ngIf="fetchDone && errorMsg">
  <div class="select-file-error">{{errorMsg}}</div>
  <!-- <div class="navigate-desc">To navigate to home page <a routerLink="/home">Click here</a></div> -->
</ng-container>
<div class="row head-container" *ngIf="fetchDone && !errorMsg && !noData">
    <div class="col-8 offset-2 offset-sm-3 col-sm-6 page-head">{{empName}}'s Salary Slip List</div>
    <div class="col-sm-2 back-btn-container">
        <button class="btn btn-primary back-btn" (click)="previousPage()">Back</button>
    </div>
</div>
<div class="row" *ngIf="fetchDone && !errorMsg && !noData">
  <div class="offset-sm-1 col-sm-10 table-responsive">
    <table class="table table-striped emp-list-table">
      <thead>
        <tr>
          <th>Month Year</th>
          <th class="action-head">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of empData">
          <td>{{data.month | slice:0:3 | titlecase}} {{data.year}}</td>
          <td class="view-doc"><a class="action" (click)="getSalary(data.year,data.month)">View Salary Slip</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-data-not-found *ngIf="fetchDone && noData">
  <p>
    Salary list for Employee not found!
  </p>
  <p>
    <a class="error-navigate" routerLink="/home">click here</a> to search for other Employee's Salary!
  </p>
</app-data-not-found>
