@import '../../assets/scss/color';

.btn-container {
    margin-bottom: 15px;
    padding-top: 15px;

    .back-btn-container {
        text-align: right;

        .back-btn {
            background-color: $btnColor;
            font-size: 14px;

            &:active {
                position: relative;
                top: 2px;
                left: 2px;
            }

            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }
}

.table {
    tr td, tr th {
    border: 1px solid $tableBorderColor;
    font-size: 14px;
    padding: 8px;
    } 

    .view-doc {
        text-align: center;
    }

    .action-head {
        text-align: center;

        .action {
            color: $btnColor;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
} 

a:not([href]):not([tabindex]),.error-navigate {
    color: $btnColor;
    cursor: pointer;
}
  
a:not([href]):not([tabindex]):hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .btn-container {
    
        .back-btn-container {
            display: none; 
        }
    }

    .table {
        tr td, tr th {
            font-size: 10px;
        } 
    }
}