@import '../../assets/scss/variables';

.head-container {
    padding: 15px 0;

    .back-btn-container {
        text-align: right;
        @media (max-width: $smWidth) {
            display: none;
        }
    }
}

.form-container {
    margin-bottom: 20px;

    .year-selector {
        width: 200px;
        margin-right: 20px;
    }

    .btn {
        padding: 4px 8px;
    }
}
