$fileUploadBorderColor: #1C8ADB;
$fileUploadHoverBgColor: #9ecbec;
$fileListColor: #1c8adb;
$whiteColor: #ffffff;
$btnColor: #337ab7;
$tableBorderColor: #dddddd;
$navFooterBgColor: #F8F8F8;
$navFooterBorderColor: #e7e7e7;
$blackColor: #000000;
$errorColor: #ff0000;
$watermarkColor: #808080;
$red: red;
$smWidth: 768px;
$extraLightBold: 400;
$lightBold: 500;
$mediumBold: 600;
$brightBold: 700;
$extraBrightBold: 800;

