@import '../../assets/scss/color';

.navbar {
    background-color: $navFooterBgColor;
    border: 1px solid $navFooterBorderColor;

    .navbar-brand:hover {
        cursor: pointer;
    }

    .navbar-nav {

        .nav-item {
            margin-right: 20px;
        }
        .redirect-content {
            color: $btnColor;
        }
        
        .redirect-content:hover {
            text-decoration: underline;
        }
    }
    
    .user-img {
        border-radius: 5px;
        margin-right: 10px;
    }

    .user-name {
        font-weight: 400;
    }

    .fa-power-off {
        margin-right: 7px;
    }
    
    .logout:hover {
        cursor: pointer;
        color: $blackColor;
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        font-size: 14px;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .navbar-toggle:hover {
        background-color: $btnColor;
    }
    
    .navbar-toggle:hover .icon-bar {
        background-color: $whiteColor;
    }
}



