<div *ngIf="!fetchDone">
  <div class="row data-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</div>
<ng-container *ngIf="fetchDone && errorMsg">
  <div class="select-file-error">{{errorMsg}}</div>
  <div class="navigate-desc">To navigate to home page <a routerLink="/home">Click here</a></div>
</ng-container>
<div class="row" *ngIf="fetchDone && !errorMsg">
  <div class="col-12 head">Dashboard</div>
  <div class="col-sm-3 filter-form">
    <div class="sticky-top side-bar-container">
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"> 
        <div class="form-group">
          <select class="form-control" formControlName="emp">
            <option value="" disabled>Select Employee</option>
            <option *ngFor="let emp of users" [ngValue]="emp" >
              {{emp.fullName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="yearVal"> 
            <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="monthVal">
            <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"  [disabled]="!employeeForm.valid">Search</button>
        </div>
      </form>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="uploadSalary()">Upload Salary Slip</button>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Full Name</th>
            <th class="action-head">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of users; let i=index">
            <td>{{i+1}}</td>
            <td>{{emp.fullName}}</td>            
            <td class="view-doc"><a [routerLink]="" (click)="fetchSalarySlip(emp)">View salary slip</a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
