<div *ngIf="!fetchDone">
  <div class="row data-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</div>
<!-- <ng-container *ngIf="fetchDone && noResponse">
  <div class="select-file-error">{{errorMsg}}</div>
  <div class="navigate-desc">To navigate to home page <a routerLink="/home">Click here</a></div>
</ng-container> -->
<div class="row btn-container" *ngIf="fetchDone && !noResponse">
  <div class="col-8 offset-3 action-btn-container">
    <button class="btn btn-primary print-btn" (click)="download()">Print</button>
    <button class="btn btn-primary mail-btn" (click)="sendMail()">Send Mail</button>
    <button class="btn btn-primary back-btn" (click)="previousPage()">Back</button>
  </div>
</div>
<div class="row" *ngIf="fetchDone && !noResponse">
  <div class="col-10 offset-1 salary-slip-wrapper">
    <div class="row head-container">
      <div class="col-8 offset-2 col-sm-6 offset-sm-3 company-details">
          <div class="company-name">NEWPUT INFOTECH PVT LTD.</div>
          <div class="company-address">314 D M Tower, 21/1 Race Course Road Indore</div>
          <div class="company-address">CIN U723000MP2006PTC018697</div>
          <div class="company-address">
            Salary slip for the month of {{responseData.month | titlecase}} {{responseData.year}}
          </div>
      </div>
      <div class="col-12 days-month">
          No of Days {{currentMonthDays}}
      </div>
    </div>
    <div class="row salary-content">
      <ng-container *ngFor="let item of salaryDisplayItems">
        <div class="col-3" [class.bold-text]="item.isHeading">{{item.itemLabel}}</div>
        <div class="col-3" [class.bold-text]="item.isHeading">{{item.itemValue | inrCurrency: item.isAmount}}</div>
      </ng-container>
      <div class="col-3 authority-seal">
          <img class="seal-img" src="./assets/company-seal.png">
      </div>
      <div class="col-9 sign-sections">
        <div class="sign">
          <img class="sign-img" src="./assets/signature.png">
        </div>
        <div class="sign-content">
          Authorised Signatory
        </div>
      </div>
      <div id="watermark">
        CONFIDENTIAL
      </div>
    </div>
  </div>
</div>
<app-data-not-found *ngIf="fetchDone && noResponse">
  <div>
    <p>
      Data for {{selectedMonth | titlecase}}-{{selectedYear}} not exists!
    </p>
    <p>
      <a routerLink="/employee/{{empId}}/salarySlips">click here</a> to search for other month's data!
    </p>
  </div>
</app-data-not-found>