<div *ngIf="!fetchDone">
  <div class="row data-container">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</div>
<div class="row head-container" *ngIf="fetchDone && !noResponse">
  <div class="col-8 offset-3 action-btn-container">
    <button class="btn btn-primary print-btn" (click)="download()">Print</button>
    <button class="btn btn-primary send-btn" (click)="sendMail()">Send Mail</button>
    <button class="btn btn-primary back-btn" (click)="previousPage()">Back</button>
  </div>
</div>
<div class="row" *ngIf="fetchDone && !noResponse">
  <div class="col-10 offset-1 salary-slip-wrapper">
    <div class="row salary-head-container">
      <div class="col-8 offset-2 col-sm-6 offset-sm-3 company-details">
          <div class="company-name">{{companyDetails?.companyName}}</div>
          <div class="company-address">{{companyDetails?.companyAdd}}</div>
          <div class="company-address">CIN {{companyDetails?.cinNumber}}</div>
          <div class="company-address">
            Salary slip for the month of {{responseData.month | titlecase}} {{responseData.year}}
          </div>
      </div>
      <div class="col-12 days-month">
          No of Days {{currentMonthDays}}
      </div>
    </div>
    <div class="row salary-content">
      <ng-container *ngFor="let item of salaryDisplayItems">
        <div class="col-3 salary-items" [class.bold-text]="item.isHeading">{{item.itemLabel}}</div>
        <div class="col-3 salary-items" [class.bold-text]="item.isHeading">{{item.itemValue | inrCurrency: item.isAmount}}</div>
      </ng-container>
      <div class="col-3 authority-seal">
          <img class="seal-img" [src]="companySealImg">
      </div>
      <div class="col-9 sign-sections">
        <div class="sign">
          <img class="sign-img" [src]="directorSignImg">
        </div>
        <div class="sign-content">
          Authorised Signatory
        </div>
      </div>
      <div id="watermark">
        CONFIDENTIAL
      </div>
    </div>
  </div>
</div>
<app-data-not-found *ngIf="fetchDone && noResponse">
    <p>
      Data for Employee does not exist!
    </p>
    <p>
      <a class="error-navigate" routerLink="/employee/{{empId}}/salarySlips">click here</a> to search for other month's data!
    </p>
</app-data-not-found>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalResponse}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Email will be sent to employees shortly!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn print-btn" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>